<section class="section about-me">
  <div class="container about-me-container">
    <div class="about-me-top-wrapper">
      <h3>
        I work with people all over the world to create impressive and
        <span class="red-el">functional</span>
        <span class="gray-el">websites</span> that reflect each client's unique
        personality.
      </h3>
    </div>
    <div class="about-me-bottom-wrapper">
      <img src="../img/about_me/about_me_photo_2x.webp" alt="" />
    </div>
  </div>
</section>
