/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* 
Заголовки (h1-h6) и абзацы (p) по умолчанию имеют отступы (margin) в разных браузерах.
Этот код обнуляет эти отступы, чтобы обеспечить единообразие внешнего вида.
*/

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 
Несортированные (ul) и сортированные (ol) списки также имеют отступы и отступы по умолчанию,
которые могут отличаться в разных браузерах. Здесь эти отступы обнуляются.
list-style: none; убирает стандартные маркеры (точки, цифры) для элементов списка.
*/

a {
  color: currentColor;
  text-decoration: none;
}

/* 
color: currentColor;: 
Цвет ссылок наследуется от текущего текста, что делает их менее заметными, пока не добавлены специальные стили.


text-decoration: none;: 
Убирает стандартное подчеркивание для ссылок, что позволяет разработчику самостоятельно стилизовать ссылки.
*/

button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 

padding: 0;: Обнуляет внутренние отступы у кнопок.

font-family: inherit;: Устанавливает шрифт кнопки таким же, как и у родительского элемента.

color: currentColor;: Устанавливает цвет текста кнопки таким же, как у текущего текста.

background-color: transparent;: Убирает фоновый цвет кнопки, делая его прозрачным.

border: none;: Убирает рамку у кнопки.

cursor: pointer;: Меняет указатель мыши на "указатель" при наведении на кнопку, что показывает, что кнопка кликабельна.

*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 
display: block;: 
Устанавливает изображение как блочный элемент, что убирает возможные пробелы под изображением,
 которые возникают из-за базовой линии текста.


max-width: 100%;: 
Ограничивает ширину изображения, делая её не больше ширины родительского элемента.
Это предотвращает "выпирание" изображения за границы контейнера.


height: auto;: 
Автоматически регулирует высоту изображения, сохраняя пропорции при изменении ширины.
*/
